:root {
  --color-bg: #cccccc;
  --color-bg-rgb: 255, 255, 255;
  --color-text: #333333;
  --color-link: #999999;
  --color-link-hover: #de6418;
  --arrow-size: 30px;
  --color-date-line: #999999;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  background: var(--color-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--color-text);
  font-size: 16px;
}

/* Default Timelinr */
.timelinr {
  position: relative;
  width: 800px;
  margin: 100px auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  border-radius: 20px;
  overflow: hidden;
}

.timelinr::after,
.timelinr::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: var(--color-bg);
  background: linear-gradient(90deg,rgba(var(--color-bg-rgb), 1) 30%, rgba(var(--color-bg-rgb), 0) 100%);
  z-index: 1;
  pointer-events: none;
}

.timelinr::after {
  left: auto;
  right: 0;
  background: linear-gradient(270deg,rgba(var(--color-bg-rgb), 1) 30%, rgba(var(--color-bg-rgb), 0) 100%);
}

.timelinr li {
  list-style: none;
}

.timelinr-dates {
  width: 800px;
  height: 50px;
}

.timelinr-dates li {
  --base-size: 50px;

  float: left;
  width: calc(var(--base-size) * 2);
  height: var(--base-size);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('../images/biggerdot.png') center 47px no-repeat; */
}

.timelinr-dates li::before {
  --dot-size: 10px;

  content: '';
  position: absolute;
  bottom: calc((var(--dot-size) / 2) * -1);
  left: 50%;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  background-color: var(--color-date-line);
}

.timelinr-dates-bottom .timelinr-dates li::before {
  top: calc((var(--dot-size) / 2) * -1);
  bottom: auto;
}

.timelinr-dates a {
  font-size: 24px;
  color: var(--color-link);
  text-decoration: none;
  transition: font .3s ease;
}

.timelinr-dates li.current a {
  font-size: 32px;
  color: var(--color-link-hover);
}

.timelinr-dates .current::before {
  background-color: var(--color-link-hover);
}

.timelinr-issues {
  width: 800px;
  min-height: 200px;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--color-date-line);
  overflow: auto;
}

.timelinr-dates-bottom .timelinr-issues {
  border-width: 0 0 1px;
}

.timelinr-issues li {
  width: 800px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelinr-issues .inner-content {
  padding: 20px 40px;
}
  
.timelinr-next,
.timelinr-prev {
  position: absolute;
  top: calc(50% - (var(--arrow-size) / 2));
  width: var(--arrow-size);
  height: var(--arrow-size);
  display: flex;
  text-align: center;
  align-content: center;
  font-size: 18px;
  color: white;
  text-decoration: none;
  line-height: 1;
  border-radius: 50%;
  z-index: 2;
  background-color: var(--color-link);
}

.timelinr-prev {
  left: 1%;
  transform: rotate(180deg);
}

.timelinr-next {
  right: 1%;
}

/* Vertical */
.timelinr-vertical {
  width: 800px;
  height: 320px;
}

.timelinr-vertical::after,
.timelinr-vertical::before {
  width: 100%;
  height: 30px;
  background: linear-gradient(180deg,rgba(var(--color-bg-rgb), 1) 30%, rgba(var(--color-bg-rgb), 0) 100%);
}

.timelinr-vertical::after {
  top: auto;
  bottom: 0;
  background: linear-gradient(0deg,rgba(var(--color-bg-rgb), 1) 30%, rgba(var(--color-bg-rgb), 0) 100%);
}

.timelinr-vertical .timelinr-dates {
  width: 120px;
  height: 300px;
  float: left;
}

.timelinr-vertical .timelinr-dates li {
  width: 100%;
  height: 100px;
}

.timelinr-vertical .timelinr-dates li::before {
  left: auto;
  right: calc((var(--dot-size) / 2) * -1);
  bottom: auto;
}

.timelinr-vertical .timelinr-issues {
  width: 660px;
  float: left;
  border-width: 0 0 0 1px;
}

.timelinr-dates-right .timelinr-issues {
  border-width: 0 1px 0 0;
}

.timelinr-vertical .timelinr-issues li {
  width: 660px;
  height: 300px;
}

.timelinr-dates-right .timelinr-dates li::before {
  left: calc((var(--dot-size) / 2) * -1);
  right: auto;
  bottom: auto;
}

.timelinr-vertical .timelinr-next,
.timelinr-vertical .timelinr-prev {
  top: 2%;
  left: calc(50% - (var(--arrow-size) / 2));
  transform: rotate(-90deg);
}

.timelinr-vertical .timelinr-next {
  top: auto;
  bottom: 2%;
  transform: rotate(90deg);
}
