:root {
  --color-body-bg: #cccccc;
  --color-timelinr-bg: #ffffff;
  --color-timelinr-bg-rgb: 255, 255, 255;
  --color-text: #333333;
  --color-link: #999999;
  --color-link-hover: #de6418;
  --color-date-line: #999999;
  --size-arrow: 30px;
  --size-dates-base-size: 60px;
  --size-horizontal-width: 800px;
  --size-vertical-width: 800px;
  --size-vertical-height: 400px;
  --size-gradient: 30px;
  --size-padding: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  background: var(--color-body-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--color-text);
  font-size: 16px;
}

/* Default Timelinr */
.timelinr {
  position: relative;
  width: var(--size-horizontal-width);
  margin: 100px auto;
  padding: var(--size-padding);
  background-color: var(--color-timelinr-bg);
  box-shadow: rgba(17, 12, 46, 0.05) 0 30px 50px 0;
  border-radius: 8px;
  overflow: hidden;
}

.timelinr::after,
.timelinr::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size-gradient);
  height: 100%;
  background-color: var(--color-timelinr-bg);
  background: linear-gradient(90deg,rgba(var(--color-timelinr-bg-rgb), 1) 30%, rgba(var(--color-timelinr-bg-rgb), 0) 100%);
  z-index: 1;
  pointer-events: none;
}

.timelinr::after {
  left: auto;
  right: 0;
  background: linear-gradient(270deg,rgba(var(--color-timelinr-bg-rgb), 1) 30%, rgba(var(--color-timelinr-bg-rgb), 0) 100%);
}

.timelinr li {
  list-style: none;
}

.timelinr-dates {
  height: var(--size-dates-base-size);
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
}

.timelinr-dates li {
  width: calc(var(--size-dates-base-size) * 2);
  height: var(--size-dates-base-size);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelinr-dates li::before {
  --dot-size: 10px;

  content: '';
  position: absolute;
  bottom: calc((var(--dot-size) / 2) * -1);
  left: 50%;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  background-color: var(--color-date-line);
}

.timelinr-dates-bottom .timelinr-dates li::before {
  top: calc((var(--dot-size) / 2) * -1);
  bottom: auto;
}

.timelinr-dates a {
  font-size: 18px;
  color: var(--color-link);
  text-decoration: none;
  transition: font .3s ease;
}

.timelinr-dates li.current a {
  font-size: 26px;
  color: var(--color-link-hover);
}

.timelinr-dates .current::before {
  background-color: var(--color-link-hover);
}

.timelinr-issues {
  display: grid;
  grid-auto-flow: column;
  width: var(--size-horizontal-width);
  min-height: 200px;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--color-date-line);
  overflow: auto;
  transition: transform 0.3s ease;
  will-change: transform;
}

.timelinr-dates-bottom .timelinr-issues {
  border-width: 0 0 1px;
}

.timelinr-issues li {
  width: calc(var(--size-horizontal-width) - var(--size-padding) * 2 );
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelinr-issues .inner-content {
  padding: 20px 40px;
}

.timelinr-next,
.timelinr-prev {
  position: absolute;
  top: calc(var(--size-arrow) + (var(--size-arrow) / 2));
  width: var(--size-arrow);
  height: var(--size-arrow);
  text-align: center;
  align-content: center;
  font-size: 18px;
  color: white;
  text-decoration: none;
  line-height: 1;
  border-radius: 50%;
  z-index: 2;
  background-color: var(--color-link-hover);
  transition: all .2s ease;
}

.timelinr-dates-bottom .timelinr-next,
.timelinr-dates-bottom .timelinr-prev {
  top: auto;
  bottom: calc(var(--size-arrow) + (var(--size-arrow) / 2));
}

.timelinr-prev {
  left: 1%;
  transform: rotate(180deg);
}

.timelinr-next {
  right: 1%;
}

.timelinr-arrow-hidden {
  transform: scale(0);
  opacity: 0;
  transition: all .2s ease;
}

/* Vertical */
.timelinr-vertical {
  width: var(--size-vertical-width);
  height: var(--size-vertical-height);
  display: flex;
}

.timelinr-vertical::after,
.timelinr-vertical::before {
  width: 100%;
  height: var(--size-gradient);
  background: linear-gradient(180deg,rgba(var(--color-timelinr-bg-rgb), 1) 30%, rgba(var(--color-timelinr-bg-rgb), 0) 100%);
}

.timelinr-vertical::after {
  top: auto;
  bottom: 0;
  background: linear-gradient(0deg,rgba(var(--color-timelinr-bg-rgb), 1) 30%, rgba(var(--color-timelinr-bg-rgb), 0) 100%);
}

.timelinr-vertical .timelinr-dates {
  display: block;
  width: calc(var(--size-dates-base-size) * 2);
}

.timelinr-vertical.timelinr-responsive .timelinr-dates {
  display: block;
  width: 10%;
  min-width: calc(var(--size-dates-base-size) * 2);
}

.timelinr-vertical .timelinr-dates li {
  width: 100%;
  height: var(--size-dates-base-size);
}

.timelinr-vertical .timelinr-dates li::before {
  left: auto;
  right: calc((var(--dot-size) / 2) * -1);
  bottom: auto;
}

.timelinr-vertical .timelinr-issues {
  width: 680px;
  grid-auto-flow: row;
  border-width: 0 0 0 1px;
}

.timelinr-vertical.timelinr-responsive .timelinr-issues {
  width: 90%;
}


.timelinr-dates-right .timelinr-issues {
  border-width: 0 1px 0 0;
}

.timelinr-vertical .timelinr-issues li {
  width: 100%;
  height: var(--size-vertical-height);
}

.timelinr-dates-right .timelinr-dates li::before {
  left: calc((var(--dot-size) / 2) * -1);
  right: auto;
  bottom: auto;
}

.timelinr-vertical .timelinr-next,
.timelinr-vertical .timelinr-prev {
  top: 2%;
  left: calc((var(--size-dates-base-size) * 2) - (var(--size-arrow) / 2) + 10px);
  transform: rotate(-90deg);
}

.timelinr-vertical .timelinr-next {
  top: auto;
  bottom: 2%;
  transform: rotate(90deg);
}

.timelinr-dates-right .timelinr-next,
.timelinr-dates-right .timelinr-prev {
  left: auto;
  right: calc((var(--size-dates-base-size) * 2) - (var(--size-arrow) / 2) + 10px);
}
